// LMS -- modules -- student notes
// ====================

// in this document:
// --------------------
// +notes
// +toggling notes
// +creating/editing notes
// +listing notes

// +notes:
// --------------------
// this Sass partial contains all of the styling needed for the in-line student notes UI.

// +toggling notes
// --------------------

.edx-notes-visibility {

}

// CASE: error in toggling notes
.edx-notes-visibility-error {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

// +creating/editing notes
// --------------------

// +listing notes
// --------------------
